<launch>
    <rosparam file="$(find mh5_controllers)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find mh5_hardware)/config/hardware.yaml" command="load"/>

    <arg name="model" default="$(find mh5_description)/urdf/mh5_robot_revE.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <node name="combo_control_node" pkg="mh5_controllers" type="combo_control_node" output="screen"/>
    <node name="controller_spawner_state" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="
             joint_state
             device_status
             communication_statistics
             imu_state

    "/>
    <node name="controller_spawner_control" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="--stopped
             head_pos_controller
             left_arm_pos_controller
             right_arm_pos_controller
             arms_pos_controller
             left_leg_pos_controller
             right_leg_pos_controller
             legs_pos_controller
             robot_pos_controller
    "/>

</launch>
